<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CheckImages" value="true" />
    <add key="BaseUrl" value="http://www.web-site-to-crawl.com" />
    <add key="Slack.WebHook.Url" value="https://hooks.slack.com/services/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" />
    <add key="Slack.WebHook.Bot.Name" value="Homer Bot" />
    <add key="Slack.WebHook.Bot.IconEmoji" value=":homer:" />
  </appSettings>
</configuration>

