<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OnlyReportBrokenLinksToOutput" value="true" />
    <add key="CheckImages" value="false" />
    <add key="BaseUrl" value="http://www.github.com" />
    <add key="Slack.WebHook.Url" value="https://hooks.slack.com/services/T024FQG21/B0LATCSEP/JJoNixMuEoA0aIECYvrJB1" />
    <add key="Slack.WebHook.Bot.Name" value="Homer Bot" />
    <add key="Slack.WebHook.Bot.IconEmoji" value=":homer:" />
    <add key="Slack.WebHook.Bot.MessageFormat" value="There is a link not working. \nUrl: {0} \nStatuscode: {1} \nThe link is placed on this page: {2}" />
  </appSettings>
</configuration>

