<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OnlyReportBrokenLinksToOutput" value="false" />
    <add key="CheckImages" value="true" />
    <add key="BaseUrl" value="http://www.github.com" />
    <!--explanation of regex below: http://regexr.com/3cqt9 -->
    <add key="ValidUrlRegex" value="(^http[s]?:\/{2})|(^www)|(^\/{1,2})" />
    <add key="Slack.WebHook.Url" value="https://hooks.slack.com/services/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" />
    <add key="Slack.WebHook.Bot.Name" value="Homer Bot" />
    <add key="Slack.WebHook.Bot.IconEmoji" value=":homer:" />
    <add key="Slack.WebHook.Bot.MessageFormat" value="*Doh! There is a link not working*
Url: {0}
Statuscode: {1}
The link is placed on this page: {2}" />
  </appSettings>
</configuration>