<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="outputProviders" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <appSettings>
    <add key="OnlyReportBrokenLinksToOutput" value="false" />
    <add key="CheckImages" value="true" />
    <add key="BaseUrl" value="https://pm.controlorigins.com/" />
    <add key="SuccessHttpStatusCodes" value="1xx,2xx,3xx" />
    <!--explanation of regex below: http://regexr.com/3cqt9 -->
    <add key="ValidUrlRegex" value="(^http[s]?:\/{2})|(^www)|(^\/{1,2})" />
    <add key="PrintSummary" value="true" />
    <add key="Csv.FilePath" value="C:\Test\LinkCrawlerOutput.csv" />
    <add key="Csv.Overwrite" value="true" />
    <add key="Csv.Delimiter" value=";" />
    <add key="Slack.WebHook.Url" value="https://hooks.slack.com/services/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" />
    <add key="Slack.WebHook.Bot.Name" value="Homer Bot" />
    <add key="Slack.WebHook.Bot.IconEmoji" value=":homer:" />
    <add key="Slack.WebHook.Bot.MessageFormat" value="*Doh! There is a link not working* Url: {0} Statuscode: {1} The link is placed on this page: {2}" />
  </appSettings>
  <outputProviders>
    <add key="Console" value="LinkCrawler.Utils.Outputs.ConsoleOutput" />
    <!--<add key="Csv" value="LinkCrawler.Utils.Outputs.CsvOutput" />-->
    <!--<add key="Slack" value="LinkCrawler.Utils.Outputs.SlackOutput" />-->
  </outputProviders>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
